### Definition

In [1]:
#A Python set is the collection of the unordered items. 
#Each element in the set must be unique, immutable, and the sets remove the duplicate elements. 
#Sets are mutable which means we can modify it after its creation.

### Creating a set

In [2]:
#set can be created by enclosing the comma-separated immutable items with the curly braces {}.
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}    
print(Days)    
print(type(Days))

{'Tuesday', 'Friday', 'Sunday', 'Thursday', 'Monday', 'Saturday', 'Wednesday'}
<class 'set'>

###### Using set() method

In [3]:
Days = set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])    
print(Days)    
print(type(Days))

{'Tuesday', 'Friday', 'Sunday', 'Thursday', 'Monday', 'Saturday', 'Wednesday'}
<class 'set'>

In [4]:
#set can contain any type of element such as integer, float, tuple etc. 
#But mutable elements (list, dictionary, set) can't be a member of set.

In [5]:
# Creating a set which have immutable elements  
set1 = {1,2,3, "JavaTpoint", 20.5, 14}  
print(type(set1))

<class 'set'>

In [7]:
#Creating a set which have mutable element  
set2 = {1,2,3,["Javatpoint",4]}  
print(type(set2)) 
#we have created two sets, the set set1 have immutable elements and set2 have one mutable element as a list. 
#While checking the type of set2, it raised an error, which means set can contain only immutable elements.

TypeError: unhashable type: 'list'

###### Creating empty set

In [8]:
#Python provides the set() method used without an argument to create an empty set.
#bcz empty curly {} braces are also used to create a dictionary as well.

In [9]:
# Empty curly braces will create dictionary  
set3 = {}  
print(type(set3))  
  
# Empty set using set() function  
set4 = set()  
print(type(set4))

<class 'dict'>
<class 'set'>

###### Creating set with duplicate elements

In [11]:
set5 = {1,2,4,4,5,8,9,9,10}  
print(set5)
#when we print set5 it remove the duplicity from the set.

{1, 2, 4, 5, 8, 9, 10}

### Accessing Values in a Set

In [40]:
#there is no index attached to the elements of the set
#We cannot access individual values in a set. We can only access all the elements together
#we can get the list of elements by looping through the set.
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
for d in Days:
    print(d)

Tue
Thu
Mon
Wed
Sun
Sat
Fri

### Adding items to the set

###### Using add() method

In [12]:
#The add() method is used to add a single element
Months = set(["January","February", "March", "April", "May", "June"])    
print(Months)
Months.add("July")    
Months.add ("August")
print(Months)

{'May', 'January', 'February', 'April', 'June', 'March'}
{'May', 'January', 'February', 'April', 'August', 'June', 'July', 'March'}

###### Using update() function

In [13]:
# to add multiple elements
Months = set(["January","February", "March", "April", "May", "June"])    
print(Months)
Months.update(["July","August","September","October"])
print(Months)

{'May', 'January', 'February', 'April', 'June', 'March'}
{'May', 'January', 'February', 'April', 'August', 'September', 'June', 'October', 'July', 'March'}

### Removing items from the set

###### Using discard() method

In [15]:
months = set(["January","February", "March", "April", "May", "June"])  
print(months)
months.discard("January")    
months.discard("May")
print(months)

{'May', 'January', 'February', 'April', 'June', 'March'}
{'February', 'April', 'June', 'March'}

In [16]:
#using discard() function if the item does not exist in the set then the set remain unchanged

###### Using remove() function

In [17]:
months = set(["January","February", "March", "April", "May", "June"])   
print(months)
months.remove("January")    
months.remove("May")
print(months)

{'May', 'January', 'February', 'April', 'June', 'March'}
{'February', 'April', 'June', 'March'}

In [18]:
#if the item does not exist in the set using remove() method will through an error.

###### pop() method

In [21]:
#the pop() method will always remove the last item but the set is unordered, we can't determine which element will be popped from set.
Months = set(["January","February", "March", "April", "May", "June"])  
print(Months)
Months.pop() 
print(Months)

{'May', 'January', 'February', 'April', 'June', 'March'}
{'January', 'February', 'April', 'June', 'March'}

In [22]:
#the last element of the Month set is March but the pop() method removed the may
#because the set is unordered and the pop() method could not determine the last element of the set.

###### clear() method

In [23]:
#to remove all the items from the set.
Months = set(["January","February", "March", "April", "May", "June"])    
Months.clear()   
print(Months)

set()

### Set Operations

###### Union of sets

In [24]:
#The union of the two sets contains all the items that are present in both the sets.
Days1 = {"Monday","Tuesday","Wednesday","Thursday", "Sunday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1|Days2)

{'Tuesday', 'Thursday', 'Monday', 'Friday', 'Sunday', 'Saturday', 'Wednesday'}

In [25]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}    
Days2 = {"Friday","Saturday","Sunday"}    
print(Days1.union(Days2))

{'Tuesday', 'Thursday', 'Monday', 'Friday', 'Sunday', 'Saturday', 'Wednesday'}

###### Intersection of two sets

In [26]:
#The intersection of the two sets is given as the set of the elements that common in both sets.
Days1 = {"Monday","Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday","Tuesday","Sunday", "Friday"}    
print(Days1&Days2)

{'Tuesday', 'Monday'}

In [27]:
set1 = {"Devansh","John", "David", "Martin"}    
set2 = {"Steve", "Milan", "David", "Martin"}    
print(set1.intersection(set2))

{'David', 'Martin'}

###### The intersection_update() method

In [28]:
#The intersection_update() method is different from the intersection() method since it modifies the original set by removing the unwanted items,
#the intersection() method returns a new set.
a = {"Devansh", "bob", "castle"}    
b = {"castle", "dude", "emyway"}    
c = {"fuson", "gaurav", "castle"}    
a.intersection_update(b, c)  
print(a)

{'castle'}

###### Difference between the two sets

In [29]:
#A-B denotes the resulting set will be obtained that element of A, which is not present in the set B.
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1-Days2)

{'Thursday', 'Wednesday'}

In [30]:
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday", "Sunday"}    
print(Days1.difference(Days2))

{'Thursday', 'Wednesday'}

###### Symmetric Difference of two sets

In [31]:
#Symmetric difference of sets, it removes that element which is present in both sets.
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a^b  
print(c)

{3, 4, 5, 6, 8, 9, 10}

In [32]:
a = {1,2,3,4,5,6}  
b = {1,2,9,8,10}  
c = a.symmetric_difference(b)  
print(c)

{3, 4, 5, 6, 8, 9, 10}

###### Set comparisons

In [33]:
#Python use the comparison operators i.e., <, >, <=, >= , == with the sets by using which we can check whether a set is a subset, superset, or equivalent to other set. 
#The boolean true or false is returned depending upon the items present inside the sets.
Days1 = {"Monday",  "Tuesday", "Wednesday", "Thursday"}    
Days2 = {"Monday", "Tuesday"}    
Days3 = {"Monday", "Tuesday", "Friday"}    
print (Days1>Days2)  
print (Days1<Days2)  
print (Days2 == Days3)

True
False
False

### FrozenSets

In [34]:
#The frozen sets are the immutable form of the normal sets, i.e., the items of the frozen set cannot be changed and therefore it can be used as a key in the dictionary.
#The elements of the frozen set cannot be changed after the creation.
#We cannot change or append the content of the frozen sets by using the methods like add() or remove().

In [35]:
Frozenset = frozenset([1,2,3,4,5])     
print(type(Frozenset))

<class 'frozenset'>

In [36]:
Frozenset.add(6)
#gives an error since we cannot change the content of Frozenset after creation

AttributeError: 'frozenset' object has no attribute 'add'

###### Frozenset for the dictionary

In [38]:
#If we pass the dictionary as the sequence inside the frozenset() method, it will take only the keys from the dictionary and returns a frozenset that contains the key of the dictionary as its elements.
Dictionary = {"Name":"John", "Country":"USA", "ID":101}     
print(type(Dictionary)) 
Frozenset = frozenset(Dictionary); #Frozenset will contain the keys of the dictionary    
print(type(Frozenset))    
for i in Frozenset:     
    print(i)

<class 'dict'>
<class 'frozenset'>
ID
Country
Name