### Definition

In [2]:
# Datastructure in python. It is another sequence data type that is similar to the list.
# Unlike list tuples are enclosed within parameters,() and values seperated by commas
# value that make up tuple are called its elements. Elements need not be of the same datatype, they can be hetrogeneous

In [3]:
#tuples are immutable: we canot perform insert, update and delete operations

### Tuple creation

In [7]:
digits = (0,1,2,3,4,5,6)
digits

(0, 1, 2, 3, 4, 5, 6)

In [10]:
# an empty tuple
tup =()
tup

()

In [6]:
#hetrogenous tuple
tup = ('hello',1,2,6.5,'Python')
tup

('hello', 1, 2, 6.5, 'Python')

In [11]:
#nested tuples - tuples inside a tuple
t = ((1,0,2),(4,5,6))
t

((1, 0, 2), (4, 5, 6))

In [12]:
#tuple containing strings and list
t1 = ('a','b','c',[10,20,30])
t1

('a', 'b', 'c', [10, 20, 30])

#### Singleton tuple

In [15]:
# if a tuple comprises a single element, the elemnt should be followed by a comma to distingush a tuple from a parenthesized expression
tup = (70,)
tup

(70,)

#### Creating tuple using built-in function tuple()

In [23]:
#An empty tuple can be created using tuple () function
t = tuple()
t

()

In [21]:
# to create tuple containing string values using function tuple()
mytup = tuple(('apple','banana','cherry'))
print(mytup)
type(mytup)

('apple', 'banana', 'cherry')

tuple

In [26]:
#creating a tuple by accepting user input
#We can create a tuple by fetching its elements from th euser. It can be done either by while/for loop
t = tuple()
n = int(input("Enter any number: "))
for i in range (n):
    a = input("Enter Number: ")
    t = t +(a,)
print("Output is ")
print(t)

Enter any number: 3
Enter Number: 100
Enter Number: 200
Enter Number: 300
Output is
('100', '200', '300')

### Nesting of tuples

In [30]:
#tuples can be placed inside other tuples
t1 = (0,1,2,3)
t2 =('python', 'book')
t3 = (t1, t2)
print(t3)

((0, 1, 2, 3), ('python', 'book'))

### Accessing and traversing a tuple

In [31]:
#individula elements of a tuple can be accessed through indexes
#elements of a tuple can be accessed using an indexing method
t = (10,20,30,40,50,60,70,80,90)
t[0]

10

In [32]:
t[5]

60

In [33]:
t[-5]

50

#### Traversing a tuple

In [34]:
#traversing means accessing each element of a tuple. This can be done by using either for or while loop
t = ('p','y','t','h','o','n')
n = len(t)
for i in range(n):
    print(t[i])

p
y
t
h
o
n

### Tuple Slicing

In [35]:
t1 = (10,20,30,40,50,60,70,80,90)
t1[5:]

(60, 70, 80, 90)

In [42]:
t1[-8:-5]

(20, 30, 40)

In [40]:
t2 = ('My Book',[1,2,3],'Z',(3,4,6), 'Desk', 50)
t2[2:3]

('Z',)

In [41]:
t2[3][1]

4

#### Tuple Addition/concatenation

In [43]:
x = (1,2,3,4)
y =(5,6,7,8)
z = x+y
print(z)

(1, 2, 3, 4, 5, 6, 7, 8)

In [44]:
tup1 = (1,2,3,4)
tup1[1:3]+(5,6)

(2, 3, 5, 6)

In [45]:
# we cnnot add int to tuple. it will give error
t4 = (1,2,'a',4)
t4[-3:-1]+t4[0]

TypeError: can only concatenate tuple (not "int") to tuple

###### + operator performs concatenation with tuples only

### Tuple multiplication

In [46]:
# * is used for repetation of the tuple

In [47]:
x = (1,2,3,4)
z = x*2
print(z)

(1, 2, 3, 4, 1, 2, 3, 4)

In [48]:
('bye!',)*4

('bye!', 'bye!', 'bye!', 'bye!')

In [49]:
tup =(1,2,3,4)
tup[1:3]*3

(2, 3, 2, 3, 2, 3)

### 'in' and 'not in' membership opertaor

In [50]:
4 in (2,4,6,8)

True

In [51]:
5 in(2,4,6,8)

False

In [52]:
10 not in (2,4,6,8)

True

In [53]:
2 not in (2,4,6,8)

False

### Tuple function

###### len()

In [54]:
a = (5,'book',4,5,'new')
print(len(a))

5

In [55]:
b = ([1,2,3],[5,6],'a',10.5)
len(b)

4

###### count()

In [56]:
tup = (10,20,30,20,40,10,40,50)
tup.count(20)

2

In [57]:
a = (5,'book',4,5,'new')
a.count(5)

2

###### any

In [58]:
a = (1,)
print(any(a))

True

In [59]:
b = ()
print(any(b))

False

###### min() and max()

In [60]:
t = (1,2,3,4,5)
print(max(t))
print(min(t))

5
1

In [62]:
a = ("Apple")
print(max(a))
print(min(a))
# string "Apple" gets converted into individual characters and are compared to return max and min

p
A

In [63]:
# to use min n max,all values in the tuple must be of same type
t = (10,'a',30)
max(t)

TypeError: '>' not supported between instances of 'str' and 'int'

In [64]:
#max n min checks on the basis of ASCII values. If there are two different strings in a tuple, then the first different character in the strings is checked
tup1 = ('ALL','RAHUL','VIKAS')
max(tup1)

'VIKAS'

###### Sorted

In [65]:
#returns a list after sorting
a = (6,7,4,2,1,5,3)
sorted(a)

[1, 2, 3, 4, 5, 6, 7]

###### index

In [66]:
v = ('yes','no','yes','yes','no')
v.index('no')

1

In [67]:
v.index('yes',1,4)

2

### Comparing Tuples

In [68]:
(0,1,2) > (0,3,4)

False

In [69]:
(0,1,200000) < (0,3,4)

True

In [70]:
#while comparing int and float are considered as same
t1 = (1,2,3)
t2 = (1.0,2.0,3.0)
t1 == t2

True

In [72]:
t1 = (1,2,3)
t4 = (10,20,30)
t1 != t4

True

### Deleting a tuple

In [73]:
tup = (1,2,3)
print(tup)

(1, 2, 3)

In [74]:
del tup
print(tup)

NameError: name 'tup' is not defined